@page "{guid}"
@model Reiseanwendung.Webapp.Pages.Reiseplan.DetailsModel

<h3>Details @Model.TravelPlan.Name</h3>
<h4> Infos der Reiseplanung</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Destination</th>
            <th>People</th>
            <th>Activities</th>
            <th>Booking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.TravelPlan.StartDate.ToString("yyyy-MM-dd")</td>
            <td>@Model.TravelPlan.EndDate.ToString("yyyy-MM-dd")</td>
            <td>
                <ul>
                    @foreach (var destination in Model.TravelPlan.Destinations)
                    {
                        <li>@destination.City, @destination.Country</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var person in Model.TravelPlan.People)
                    {
                        <li>@person.Name</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var destination in Model.TravelPlan.Destinations)
                    {
                        @foreach (var activity in destination.Activities)
                        {
                            <li>@activity.Name (@activity.StartDateTime.ToString("yyyy-MM-dd HH:mm") - @activity.EndDateTime.ToString("yyyy-MM-dd HH:mm"))</li>
                        }
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var destination in Model.TravelPlan.Destinations)
                    {
                        @foreach (var booking in destination.Bookings)
                        {
                            <li>@booking.Cost.ToString("C") on @booking.Date.ToString("yyyy-MM-dd")</li>
                        }
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
