@page
@model Reiseanwendung.Webapp.Pages.Reiseplan.IndexModel
@{
    ViewData["Title"] = "Reisepläne";
}

@section head
{
    <style>
        .beendet {
            background-color: lightgray;
        }
    </style>
}

<h3>Reisepläne Datenbank</h3>
<p>@Model.Travelplans.Count Reisepläne gefunden. Erstellt um @DateTime.Now.ToString("HH:mm").</p>

<a asp-page="/Reiseplan/CreateTravelplan" class="btn btn-primary">Add Travel Plan</a>
<a asp-page="/Reiseplan/BulkPage" class="btn btn-secondary">Bulk Edit</a>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Destinations</th>
            <th>Details</th>
        
            <th>Activities</th>
            <th>Accommodations</th>
            <th>Transportations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Travelplans)
        {
            var cssClass = t.StartDate < DateTime.Now ? "beendet" : "";
            <tr class="@cssClass">
                <td>@t.Name</td>
                <td>@t.StartDate.ToString("dd.MM.yyyy")</td>
                <td>@t.EndDate.ToString("dd.MM.yyyy")</td>
                <td>
                    <ul>
                        @foreach (var destination in t.Destinations)
                        {
                            <li>@destination.City, @destination.Country</li>
                        }
                    </ul>
                </td>
                <td><a asp-page="/Reiseplan/Details" asp-route-guid="@t.Guid">Details</a></td>
            
                <td>@t.Destinations.Sum(d => d.Activities.Count)</td>
                <td>@t.Destinations.Sum(d => d.Accommodations.Count)</td>
                <td>@t.Destinations.Sum(d => d.Transportations.Count)</td>
            </tr>
        }
    </tbody>
</table>


